.body{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.btn1{
     background-color: rgb(152, 186, 248);
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.players{
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
}
